

/* Esconder as setas no input de tipo number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /*Para navegadores Webkit, como o Chrome e Safari*/
    margin: 0; /*Sem essa regra, alguns navegadores ainda podem reservar espaço invisível para os botões ocultos*/
}

/*=============================
    ÁREA DE CADASTRO
    Defino o design dos elementos da <div id="cadastro" </div>
===============================*/
#novo_cadastro{ /*Contêiner pai*/
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-shadow: 2px 2px #ffac75;
    margin: 45px 81px;
    width: 95%;
    max-width: 650px;
    max-height: 95vh;
    overflow: auto;
}

.titulo-novo-cadastro {
    color: #2e2e2e;
}

.cancelar_cadastro {
    background: none;
    border: none;
    margin-left: auto;
}

.cancelar_cadastro:hover {
    cursor: pointer;
    color: #fa6e11;
    font-weight: bold;
}

#Logo_SIRUS{ /*logotipo*/
    height: 60px;
    width: auto;
    margin-bottom: 5%;
}

#selecionar_usuario{ /* Contêiner que contém os botões de seleção de tipo de usuário*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 10%;
    align-items: center;
    margin-bottom: 10%;
}

.tipo_usuario{ /*Ajusta o design dos botões de tipo de usuário*/
    width: 200px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 2px #ccc;
    /*estilo antes do clique*/
    color: #fc7a24;
    border: 1px solid #fc7a24;
    background-color: white;
    white-space: nowrap;
}

.tipo_usuario:hover { /*Estilo ao passar o mouse pro cimar*/
    background-color: #fc7a24;
    color: white;
    outline: none; /*Essa declaração evita que o navegador aplique borda de foco padrão*/
}

.focus { /*Adiciono o estilo ao selecionar o botão pela classe .focus definida com javascript*/
    background-color: #fc7a24;
    color: white;
}

/*=============================
    ESTILIZAÇÃO DO FORMULÁRIO
===============================*/
.campos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Três colunas */
    gap: 10px; /* Espaçamento entre os elementos */
    align-items: start; /* Elementos alinhados verticalmente a esquerda */
    max-width: 600px; /* Define um tamanho máximo para o formulário */
}

.campos label {
    font-weight: bold;
    display: block; /* Garante que a label ocupe uma linha inteira, para que a input fique abaixo*/
    margin-bottom: 5px; /* Pequena margem entre a label e a inputbox*/
}

.input_box { /* Todas as inputs possuem essa classe,com exceção das type="radio"*/
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.grupo_nome, .grupo_email{
    grid-column: span 3; /* Faz o input ocupar duas colunas */
    width: 100%; /* Garante que ele ocupe toda a largura disponível */
}

#grupo_curso{
    grid-column: span 2; /* Faz o input ocupar duas colunas */
    width: 100%;
}

.grupo_senhaal, .grupo_senhadoc{
    grid-column: 1 / 3; /* Não uso span 2 aqui, porque dessa forma os elementos não seriam forçados a ir para a linha de baixo */
}

.visualizar_senha {
    grid-column: 1;
    grid-row: auto;
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.visualizar_senha label {
    font-weight: normal;
    font-size: 14px;
    display: flex;
    margin-left: 5px;
    white-space: nowrap;
    margin-bottom: 0px !important; /* Retiro excepcionalmente a margem aqui, caso contrário fica desalinhado com a checkbox*/
}

#tipo_docente { /* Label da seleção de tipo de docente a ser cadastrado*/
    grid-column: 1;
}

#selecionar_docente { /* Contêiner principal da seleção de tipo de docente a ser cadastrado*/
    display: flex;
    flex-direction: row;
    grid-column: span 2;
    
}

.radio_item { /* Contêiner que guarda cadas um, uma seleção input radio, que alterna entre o tipo de docente*/
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 5px;
}

#visualizar_senhaal, #visualizar_senhadoc{
    cursor: pointer;
}

/* Botão de cadastrar*/
.cadastrar_btn{
    grid-column: 1 / -1;
    grid-row: auto;
    margin-top: 20px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    background-color: #fa6e11;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px #ccc;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    margin-bottom: 5%;
}

.cadastrar_btn:active {
    background-color: #ff6803;
    transform: scale(0.98);
}

/*==================
    RESPONSIVIDADE
====================*/
@media (min-width: 1380px) {
    #selecionar_usuario {
        width: 80%;
        height: 15%;
    }
}

@media (min-width: 481px) and (max-width: 1379px) {
    #cadastro {
        max-width: 550px;
    }
}   

@media (max-width: 480px) {
    .campos {
        grid-template-columns: 1fr 1fr;
    }

    #grupo_curso {
        grid-column: 1 / -1;
    }

    #selecionar_usuario{ /* Contêiner que contém os botões de seleção de tipo de usuário*/
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20%;
    }

    #selecionar_docente {
        display: flex;
        flex-direction: column;
        grid-column: 1;
    }

    .visualizar_senha label {
        font-size: 12px;
        grid-column: 1/-1;
    }
}